.header {
 margin-bottom: 20px;
}
.control.bar {
 background-color: #21BCF3;
 width: 100%;
 position: fixed;
 text-align: center;
	opacity: 0.87;
 bottom: 0;
}
#play {
 margin-bottom: 20px;
}
.request .ts.form .field {
 margin-bottom: 10px;
}
.plus.icon, .remove.icon {
 cursor: pointer;
 width: auto !important;
}
/*
#serval {
	position: fixed;
	float: right;
	right: 50px;
	bottom: -3px;
	z-index: -1;
}
#serval>img {
	opacity: 0.6;
}
*/
#tohru {
	float: right;
	right: 30px;
	z-index: 1;
	bottom: 22px;
	position: fixed;
}
#tohru>img {
	opacity: 0.9;
}
