<!doctype html>
<html lang="en" data-ts-native>
  <head>
    <meta charset="UTF-8">
    <title>CCNS Radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

    <!-- 舊的 Tocas UI -->
    <!-- <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css"> -->
    <!-- <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/2.3.1/dist/tocas.css"> -->

    <!-- Tocas UI：CSS 與元件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.css">
    <!-- Tocas JS：模塊與 JavaScript 函式 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas-ui/2.3.3/tocas.js"></script>

    <!-- 主要的 CSS -->
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="header">
      <div class="ts menu">
        <div class="ts container">
          <a class="item">CCNS Radio</a>
          <!--          <a class="item">新增歌曲: http://<%=serverip%>:3000</a> -->
          <a class="item">新增歌曲: radio.ccns:3000</a>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="ts container">
        <div class="ts stackable grid">
          <div class="four wide column">
            <div id="play">
              <h3>Now Playing</h3>
              <div id="player"></div>
              <a id="playing" href="https://youtu.be/xkMdLcB_vNU">ようこそジャパリパークへ</a>
            </div>
            <div class="request">
              <form class="ts form">
                <div class="field">
                  <h3>Request a song</h3>
                  <textarea id="urls" rows="10"></textarea>
                </div>
              </form>
              <button id="submit-request" class="ts button">送出</button>
            </div>
            
            <form id="search-in-youtube"
                  class="ts form"
                  method="get"
                  target="_blank"
                  action="http://www.youtube.com/results">
              <input type="text"
                     name="search_query">
              <input type="submit"
                     class="ts button"
                     value="搜尋">
            </form>
            
          </div>

          <div class="six wide column">
            <h3>Queue</h3>
            <div id="queue" class="songlist">
              <div class="ts items">
                <!-- <div class="ts item"> -->
                <!--   <i class="angle double left icon"></i> -->
                <!--   <i class="remove icon"></i> -->
                <!--   <a>Song in queue.</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="six wide column">
            <h3>History</h3>
            <div id="history" class="songlist">
              <div class="ts items">
                <!-- <div class="ts item"> -->
                <!--   <i class="plus icon"></i> -->
                <!--   <i class="remove icon"></i> -->
                <!--   <a>Song in History.</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="serval"><img src="http://imgur.com/g4t5BB6.png"/></div> -->
    <!-- <div id="serval"><img src="http://imgur.com/aLfHWUi.png"/></div> -->
    <div id="kanban" class="tablet or large device only"><img class="ts medium image" src="img/kanban-musume"/></div>

    <div class="control bar">
      <div class="ts container">
        <button id="radio" class="ts primary button">JAPARI</button>
        <button id="playpause" class="ts primary button">播放/暫停</button>
        <button id="next" class="ts primary button">下一首</button>
        <div class="volume-controller">
          <i class="volume up icon"></i>
          <div class="volume-bar">
            <div class="ts fluid slider">
              <input type="range" id="volume">
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Libraries -->
    <script src="https://use.fontawesome.com/b1359841fc.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script> var player; </script>
    <!-- Functions -->
    <script src="/socket-emit.js"></script>
    <script src="/socket-on.js"></script>
    <script src="/view.js"></script>
    <script src="/controller.js"></script>
    <script src="/youtube.js"></script>
    <script src="/errorHandler.js"></script>
    <!-- Scripts -->
    <script src="/main.js"></script>
  </body>
</html>
