<!doctype html>
<html lang="en" data-ts-native>
  <head>
    <meta charset="UTF-8">
    <title>CCNS Radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/master/dist/tocas.min.css"> -->
    <link rel="stylesheet" href="//cdn.rawgit.com/TeaMeow/TocasUI/2.3.1/dist/tocas.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="header">
      <div class="ts menu">
        <div class="ts container">
          <a class="item">CCNS Radio</a>
          <a class="item">新增歌曲: http://<%=serverip%>:3000</a>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="ts container">
        <div class="ts grid">
          <div class="four wide column">
            <div id="play">
              <h3>Now Playing</h3>
              <div id="player"></div>
              <a id="playing" href="https://youtu.be/12hYTyzvEMg">純音樂電台</a>
            </div>
            <div class="request">
              <form class="ts form">
                <div class="field">
                  <h3>Request a song</h3>
                  <textarea id="urls" rows="10"></textarea>
                </div>
              </form>
              <button id="submit-request" class="ts button">送出</button>
            </div>
          </div>

          <div class="six wide column">
            <h3>Queue</h3>
            <div id="queue">
              <div class="ts items">
                <!-- <div class="ts item"> -->
                <!--   <i class="remove icon"></i> -->
                <!--   <a>Song in queue.</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>

          <div class="six wide column">
            <h3>History</h3>
            <div id="history">
              <div class="ts items">
                <!-- <div class="ts item"> -->
                <!--   <i class="plus icon"></i> -->
                <!--   <i class="remove icon"></i> -->
                <!--   <a>Song in History.</a> -->
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="serval"><img src="http://imgur.com/g4t5BB6.png"/></div> -->
    <div id="tohru"><img class="ts medium image" src="http://i.imgur.com/aLfHWUi.png"/></div>

    <div class="control bar">
      <div class="ts container">
        <button id="radio" class="ts primary button">純音樂電台</button>
        <button id="playpause" class="ts primary button">播放/暫停</button>
        <button id="next" class="ts primary button">下一首</button>
        <i class="volume up icon"></i>
        <div class="volume-bar">
          <div class="ts fluid slider">
            <input type="range" id="volume">
          </div>
        </div>
      </div>
    </div>


    <!-- Libraries -->
    <script src="https://use.fontawesome.com/b1359841fc.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script> var socket = io(); </script>
    <script> var player; </script>
    <!-- Functions -->
    <script src="/socket-emit.js"></script>
    <script src="/socket-on.js"></script>
    <script src="/view.js"></script>
    <script src="/controller.js"></script>
    <script src="/youtube.js"></script>
    <script src="/errorHandler.js"></script>
    <!-- Scripts -->
    <script src="/main.js"></script>
  </body>
</html>
