.header {
 margin-bottom: 20px;
}
.control.bar {
 background-color: #1FBAF1;
 width: 100%;
 position: fixed;
 text-align: center;
 bottom: 0;
}
.request {
 margin-top: 20px;
}
.request .ts.form .field {
 margin-bottom: 10px;
}
.plus.icon, .remove.icon {
 cursor: pointer;
 width: auto !important;
}
